.hero{
height:100vh;
width:100%;

background-image:url("../img/fondoportada.png");
background-size:cover;
background-position:center;

position:relative;

display:flex;
align-items:center;
justify-content:center;

overflow:hidden;
}


/* CONTENEDOR CENTRAL */

.hero-grid{

width:100%;
max-width:1100px;

display:flex;
justify-content:center;

}


/* BLOQUE LOGO + TITULO */

.hero-content{

display:flex;
align-items:center;
justify-content:center;

gap:clamp(10px,3vw,40px);

}


/* LOGO */

.logo-racxo{

width:clamp(200px,28vw,380px);

}


/* TITULO */

.titulo-portafolio{

width:clamp(320px,45vw,650px);

margin-left:-60px;

}


/* MENU */

.menu-hamburguesa{

position:absolute;

top:20px;
left:30px;

width:40px;

z-index:5;

}@media (max-width:768px){

.hero-content{

flex-direction:column;
text-align:center;

}

.titulo-portafolio{

margin-left:0;
margin-top:-40px;

width:280px;

}

.logo-racxo{

width:200px;

}

.menu-hamburguesa{

left:20px;
top:20px;
width:32px;

}

}
